body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Lucida Grande", Arial, sans-serif;
  max-width: 32em;
  margin: 0 auto;
  padding: 0 1em;
}

code, pre {
  font-family: "SF Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

a:link, a:visited {
  color: #893ff4;
}

time {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
