{% extends "base.html" %}
{% block title %}internet-ti.me Converter{% endblock %}
{% block description %}Choose a local time and find out the corresponding Internet Time using the internet-ti.me converter{% endblock %}
{% block content %}
  {{ super() }}
  <div id="converter" data-beats="{{ "%0.3d" % beats }}" data-live="{% block live %}false{% endblock %}">
    <div id="heading">
      <h2 id="beats"><span id="beats-input"><span style="margin-top: -0.2em">@</span><select></select><input type="number" min="0" max="999" inputmode="numeric" pattern="[0-9]*" value="{{ "%0.3d" % beats }}"/><span style="font-size: .4em; margin-left:.25em">▼</span></span></h2>

      <a id="permalink" href="/@{{ "%0.3d" % beats }}" title="Permalink to this time">
        internet-ti.me/<span class="beats">@{{ "%0.3d" % beats }}</span>
      </a>
    </div>

    <ul id="time-zones">
      <li id="local-zone" style="display: none">
        <time data-zone="local">
          <input type="time" required /> <span class="zone"></span>
        </time>
      </li>
    {% for zone in timezones -%}
      {% set adjusted_datetime = datetime.astimezone(zone) %}
      <li>
        <time datetime="{{ adjusted_datetime.isoformat() }}" data-zone="{{ zone.zone }}">
          <input type="time" value="{{ adjusted_datetime.strftime("%H:%M") }}" required /> <span class="zone">{{ adjusted_datetime.strftime("%Z") }}</span>
        </time>
      </li>
    {%- endfor %}
    </ul>
  </div>
  <script src="{{ url_for('static', filename='js/luxon.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
  <script src="{{ url_for('static', filename='js/converter.js') }}"></script>
  <p><strong>How to use the converter:</strong> Click or tap on a time to adjust the time in that time zone. Click or tap the Internet Time to enter a time with a keyboard, or the @ symbol or down arrow to choose from a list. Share a permalink with friends from the top right.</p>
{% endblock %}
