{% extends "base.html" %}
{% block title %}@{{ "%0.3d" % beats }}{% endblock %}
{% block description %}is {% for zone in timezones %}{% set adjusted_datetime = datetime.astimezone(zone) %}{{ adjusted_datetime.strftime("%H:%M %Z") }}{% if loop.last == False %}, {% endif %}{% endfor %}{% endblock %}
{% block image %}{{ url_for('beats_image', beats="%0.3d" % beats, _external=True) }}{% endblock %}
{% block content %}
  {{ super() }}
  <div id="reference" data-beats="{{ "%0.3d" % beats }}" data-live="{% block live %}false{% endblock %}">
    <div id="heading">
      <h2 id="beats">@{{ "%0.3d" % beats }}</h2>

      <a id="permalink" href="/@{{ "%0.3d" % beats }}" title="Permalink to this time">
        internet-ti.me/<span class="beats">@{{ "%0.3d" % beats }}</span>
      </a>
    </div>

    <ul id="time-zones">
      <li id="local-zone" style="display: none">
        <time data-zone="local">
          <span class="time"></span> <span class="zone"></span>
        </time>
      </li>
    {% for zone in timezones -%}
      {% set adjusted_datetime = datetime.astimezone(zone) %}
      <li>
        <time datetime="{{ adjusted_datetime.isoformat() }}" data-zone="{{ zone.zone }}">
          <span class="time">{{ adjusted_datetime.strftime("%H:%M") }}</span> <span class="zone">{{ adjusted_datetime.strftime("%Z") }}</span>
        </time>
      </li>
    {%- endfor %}
    </ul>
  </div>
  <script src="{{ url_for('static', filename='js/luxon.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reference.js') }}"></script>
{% endblock %}
