{% set title %}{% block title %}Internet Time{% endblock %}{% endset %}
{% set description %}{% block description %}Internet Time converter and reference{% endblock %}{% endset %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="description" content="{{ description }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:creator" content="@ticky">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{% block image %}{% endblock %}">
    <meta property="og:site_name" content="Internet Time">
    <meta property="og:locale" content="en_GB">
  {% endblock %}
  </head>
  <body>
  {% block content %}
    <h1>Internet Ti.me</h1>
    <p>Internet Time reference and converter</p>
  {% endblock %}
  <footer>
    <p>
      <small>
        internet-ti.me is a (work-in-progress) shareable reference for coordinating using <a href="https://en.wikipedia.org/wiki/Swatch_Internet_Time">Internet Time</a>. Link anyone to a particular time by adding it to our URL, for example <code>https://internet-ti.me/@123</code>
      </small>
    </p>
    <p>
      <small>
        Made with 💜 by Jessica Stokes, who also makes <a href="https://at-watch.jessicastokes.net">@Watch</a><br/><a href="https://github.com/ticky/internet-ti.me">Source code available on GitHub</a>
      </small>
    </p>
  </footer>
  </body>
</html>
