{% extends "reference.html" %}
{% block title %}Internet Time{% endblock %}
{% block description %}Internet Time converter and reference{% endblock %}
{% block image %}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="/js/luxon.min.js"></script>
{% endblock %}
{% block content %}
  {{ super() }}
  <script type="text/javascript">
    const { DateTime, FixedOffsetZone } = luxon;

    class BielMeanTimeZone extends FixedOffsetZone {
      static singleton = new BielMeanTimeZone()
      constructor() { super(60) }
      get name() { return 'BMT' }
    }

    // Welcome to the hack zone, get ready
    Object.defineProperties(
      DateTime.prototype,
      {
        // Add a `beats` getter to all luxon.DateTime instances
        beats: {
          get() {
            const bielTime = this.setZone(BielMeanTimeZone.singleton);
            // Returns the current beats, to two digits of centibeats
            return Math.round((bielTime.second + bielTime.minute * 60 + bielTime.hour * 3600) / .864) / 100;
          }
        },

        // Add a `timeZoneName` getter to all luxon.DateTime instances
        timeZoneName: {
          get() {
            return this.toLocaleParts({ timeZoneName: 'short' }).find((part) => part.type === "timeZoneName").value
          }
        },

        // Add a `localTimeZoneName` getter to all luxon.DateTime instances
        localTimeZoneName: {
          get() {
            // Find the first locale which has a non-GMT-offset time zone name for the current time zone
            const idealLocale = ['en-US', 'en-JP', 'en-NZ'].find((zoneName) => !this.setLocale(zoneName).timeZoneName.startsWith('GMT'));

            return this.setLocale(idealLocale).timeZoneName;
          }
        }
      }
    );

    const beatsHeading = document.getElementById('beats');
    const beatsPermalink = document.getElementById('permalink');
    let lastBeats;

    const updateTime = () => {
      const dateTime = DateTime.now().setZone(BielMeanTimeZone.singleton);
      const currentBeats = Math.floor(dateTime.beats);

      if (currentBeats !== lastBeats) {
        lastBeats = currentBeats;

        document.title = `@${currentBeats}`;
        beatsHeading.innerText = `@${currentBeats}`;
        beatsPermalink.href = `/@${currentBeats}`;
        beatsPermalink.querySelector('span.beats').innerText = `@${currentBeats}`;

        Array.prototype.forEach.call(
          document.querySelectorAll('#time-zones > li > time'),
          (timeWrapper) => {
            const timeInZone = dateTime.setZone(timeWrapper.dataset.zone ? timeWrapper.dataset.zone : BielMeanTimeZone.singleton);

            timeWrapper.querySelector('span.time').innerText = timeInZone.toLocaleString({ hour: 'numeric', minute: 'numeric', hour12: false });
            timeWrapper.setAttribute('datetime', timeInZone.toISO());

            // Update the time zone names if it's got an associated IANA zone name
            if (timeWrapper.dataset.zone) {
              timeWrapper.querySelector('span.zone').innerText = timeInZone.localTimeZoneName;
            }
          }
        )
      }

      window.requestAnimationFrame(updateTime);
    };

    updateTime();
  </script>
 {% endblock %}